//GLOBAL VARIABLES

$white: #ffffff;
$black: #000;

$light-gray: #f6f7f8;
$gray: #959696;

$dark-purple: #414c5e;
$purple: #566074;
$gray-purple: #778195;
$light-purple: #859eff;

$border-color: #eff1f3;
