@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

#app {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  background-color: $light-gray;
}

button {
  cursor: pointer;
  border: 0;
  background: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
